GEMINI_API_KEY=AIzaSyBD7dLlkuRbTdqc7mimvATuZX_fltrvmZs
DISCORD_WEBHOOK_SV=https://discord.com/api/webhooks/1500036859848560721/eq4c75tEtElZ1eCX5v6rXYx1zNhOLgwRIrLdvNJoABf-OiSuFKZrPvgXaFL6q1RUc4dK
DISCORD_WEBHOOK_LW=LW用Uhttps://discord.com/api/webhooks/1500036955482755102/RiNuGkgc5IiKa5dRrm3oENFlt9Qn4YO5qwBWWrhShcXqYyu9Fy3PoxNfDCA-9AJmgXlL
DISCORD_WEBHOOK_TKS=TKS用URhttps://discord.com/api/webhooks/1500037023866556446/KC3se1hfNZoYLHFs6I_gp1WIBX4bZltVMf8Uh3xRr4-xASUDDI88tjal15_0uy3IbFpjL
DISCORD_WEBHOOK_AI=https://discord.com/api/webhooks/1500036719641104384/nrK_czItKPz2JUcoTtiA8ZEj3lNNcFXIG4TfdF5rJmm-yUOdB2H60F9ViKbBFcSEeWOT
